# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
#  pull_request:
#    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Create env file
      env:
        AWSACCESSKEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWSPRIVATEKEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWSRDSURL: ${{ secrets.AWS_RDS_URL }}
        AWSRDSPASSWORD: ${{ secrets.AWS_RDS_PASSWORD }}

      run: |
        cd history-server/src/main/resources
        touch application.properties
        echo spring.datasource.url="$AWSACCESSKEY" >> application.properties
        echo spring.datasource.password="$AWSPRIVATEKEY" >> application.properties
        echo cloud.aws.credentials.access-key="$AWSRDSURL" >> application.properties
        echo cloud.aws.credentials.secret-key="$AWSRDSPASSWORD" >> application.properties
        cat application.properties

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle jib
      run: ./gradlew  jib

    - name: Deploy Amazon ECS task definition
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: taskdefinition.json
        service: history-service
        cluster: history-cluster
        wait-for-service-stability: true

